<!DOCTYPE html>

<html>
    <head>
        {{> head }}
    </head>
    <body>
        <div class="main-content">
            {{> header }}
            <p>This site was created by Anna Hope Melnikov as part
                of Andrew Mead's Complete Node.js Developer Course on Udemy.
                It uses data provided by Mapbox and WeatherStack so you can get yourself
                some weather.
            </p>
            <p>Also, here is a picture of a robot:</p>
            <img class="portrait" src="/img/robot.png">
        </div>
        {{> footer }}
    </body>
</html>