<!DOCTYPE html>

<html>
    <head>
        {{> head }}
        <script src="/js/index.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{> header }}
            {{ message }}

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
        </div>
        {{> footer }}
    </body>
</html>